@charset "utf-8";
/* CSS Document */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

#maincontent {
  display: flex;
  flex-wrap: wrap;
}

#map-container, .filter-container {
  width: 100%;
}

#breadcrumb {
  width: 100%;
}
.inside #map-container {
  width: 100%;
}
.inside #restaurant-container {
  width: 100%;
}
.inside #reviews-container {
  width: 100%;
}

@media screen and (min-width: 450px){
   #map-container {
     width: 100%;
   }
   .filter-container {
     width: 100%;
   }

   .inside #map-container {
     width: 50%;
     display: block;
   }
   .inside #restaurant-container {
     width: 50%;
   }
  .inside #reviews-container {
     width: 50%;
   }
}
@media screen and (min-width: 550px){
   #map-container {
     width: 50%;
     order: 1;
   }
   #filter-container {
      width: 50%;
      order: 0;
   }
   
   .inside #map-container {
     width: 50%;
   }
   .inside #restaurant-container {
     width: 50%;
   }
  .inside #reviews-container {
     width: 50%;
   }
}
